@font-face {
  font-family: 'Abel';
  src: url('../src/assets/fonts/Abel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../src/assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.main {
  font-family: 'Abel';
  font-size: 18px;
}
